@import "@styles/vars";

.match {
  &__vs {
    display: inline-block;
    margin: 0 1em;
  }
  &__scores {
    white-space: nowrap;
  }
  .isWinner {
    font-weight: 500;
    color: $color-main;
  }
  .isDraw {
    color: $color-extra;
  }
}
