.matches {
  &__filter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: -5px -20px 15px;
  }
  &__radio {
    padding: 5px 20px;
  }
  &__wrapper {
    width: 100%;
    overflow: auto;
  }
}