.filter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
  &__label {
    display: inline-block;
    vertical-align: top;
    line-height: 1.3;
    font-weight: 500;
    @media (min-width: 576px) {
      font-size: 20px;
      margin-right: 20px;
    }
    @media (max-width: 575px) {
      font-size: 18px;
      margin-right: 15px;
    }
  }
  &__input {
    width: 100%;
    max-width: 250px;
  }
}