.appnav {
  width: 100%;
  background-color: #fff;
  padding: 15px 0;
  transition: transform 0.8s, box-shadow 0.5s;
  &:not(.isHidden) {
    box-shadow: 0 10px 10px rgba(30, 30, 30, 0.3);
  }
  &.isHidden {
    transform: translateY(-100%);
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item {
    font-weight: 400;
    &.isActive {
      font-weight: 500;
    }
  }
}